<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container my-5 col-6">
        {% if users %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.phone }}</td>
                    <td>
                        <div class="btn-group mx-2" role="group" aria-label="Update and Delete">
                            <a href={{"/update/"}}{{user.id}} class="btn btn-outline-warning">
                                Update
                            </a>
                            <form action={{"/delete/"}}{{user.id}} method="post">
                                <input type="submit" value="Remove" class="btn btn-outline-danger">
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">No Users Found</h5>
                <p class="card-text">Click the below button to Add New Users or Click add user on NavBar </p>
                <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/add/">
                    Add User +
                </a>
            </div>
        </div>
        {% endif %}
    </div>

</body>

</html>